/*FONT IMPORTS*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Oceanwide';
  src: url('/fonts/oceanwide-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oceanwide';
  src: url('/fonts/oceanwide_semibold.woff2') format('woff2'),
       url('/fonts/oceanwide_semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Oceanwide';
  src: url('/fonts/oceanwide-semibold_oblique.woff2') format('woff2'),
       url('/fonts/oceanwide_semibold_oblique.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

/*FONT STYLES*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oceanwide', sans-serif;
  font-weight: 600;
  font-style: normal;
}

button {
  font-family: 'Oceanwide', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.logo {
  width: auto;
  height: 48px; /* Original height */
}

@media (max-width: 768px) {
  .logo {
    width: 120px;
    height: auto;
  }
}